<h2>Hola soy el home y tengo q renderizar la lista de prod </h2>

{{#if products.length }}
    {{#each products }} 
    <div class="container ">   
        <p>ID: {{this.id}}</p>
        <p>Title: {{this.title}}</p>
        <p>Price: $ {{this.price}}</p>
        <p>Description: {{this.description}} </p>
        <p>Stock: {{this.stock}}</p>
        <p>Thumbnails: {{this.thumbnails}}</p>
        <p>Status: {{this.status}}</p>
        <p>Code: {{this.code}}</p>
        
    </div>
    {{/each}}
{{else}}
    <p>No hay productos</p>
    
{{/if}}