<h2>LISTA DE PRODUCTOS </h2>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> ID </th>
        <th scope="col"> Title </th>
        <th scope="col"> Description </th>
        <th scope="col"> Code </th>
        <th scope="col"> Price </th>
        <th scope="col"> Stock </th>
        <th scope="col"> Status </th>
        <th scope="col"> Thumbnails </th>
        <th scope="col"> Carrito </th>
        
      </tr>
    </thead>
    <tbody>
          {{#each products.docs}}  
              <tr>
              <td> {{this._id}}</td>   
              <td> {{this.title}}</td>
              <td> {{this.description}}</td>
              <td> {{this.category}}</td>
              <td> {{this.code}} </td>
              <td>$ {{this.price}} </td>
              <td>{{this.stock}}</td>
              <td>{{this.status}}</td>
              <td>{{this.thumbnails}}</td>
              <td><button id="button-create" onclick="addToCart(`{{this._id}}`)">Agregar al carrito</button></td>
              </tr>
          {{/each}}     
    </tbody>

  </table>
 <nav aria-label="Page navigation example">
  <ul class="pagination">
    {{#if products.hasPrevPage}}
      <li class="page-item">
        <a class="page-link" href="/products?page={{products.prevPage}}&&limit=2">
        Previous 
        </a>
      </li>
    {{/if}}
    {{#if products.hasNextPage}}
    <li class="page-item">
      <a class="page-link" href="/products?page={{products.nextPage}}&&limit=2">
      Next
      </a>
    </li>
    {{/if}}
  </ul>
</nav>
<p class="btn btn-primary">
  current Page: {{products.page}}
</p>

</div>